﻿@model  CRUD.Web.Models.CadastroViewModel

@{
    ViewBag.Title = "Delete";
}

<div style="margin-top:20px;">

    @using (Html.BeginForm("Delete", "Cadastro", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <label for="exampleInputEmail1">Nome Completo:</label>
            @Html.EditorFor(model => model.NomeCompleto, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Endereço de email</label>
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Telefone:</label>
            @Html.EditorFor(model => model.Telefone, new { htmlAttributes = new { @class = "form-control" } })
        </div>

        <input type="submit" class="btn-success" value="Enviar">
    
    }
</div>