﻿@model  IEnumerable<CRUD.Web.Models.CadastroViewModel>

<table class="table table-bordered table-hover" style="margin-top:20px;" id="tableListaDePresenca">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Nome Completo
            </th>
            <th>
                Email
            </th>
            <th>
                Telefone
            </th>
            <th>
                Ações
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.ToList())
        {
        <tr>
            <td style="vertical-align: middle">
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td style="vertical-align: middle">
                @Html.DisplayFor(modelItem => item.NomeCompleto)
            </td>
            <td style="vertical-align: middle">
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td style="vertical-align: middle">
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td style="vertical-align: middle">
                
                @Html.ActionLink(" ", "Create", "Cadastro",  new { @class = "btn btn-xs btn-primary glyphicon glyphicon-plus" })
                @Html.ActionLink(" ", "Update", "Cadastro", new { id = item.Id }, new { @class = "btn btn-xs btn-warning glyphicon glyphicon-pencil" })
                @Html.ActionLink(" ", "Delete", "Cadastro", new { id = item.Id }, new { @class = "btn btn-xs btn-danger glyphicon glyphicon-minus" })
            </td>
        </tr>
        }
    </tbody>

</table>
